.container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

h1 {
  display: flex;
  top: 50%;
  justify-content: center;
  justify-self: center;
  font-size: x-large;
}

body {
  overflow: hidden;
}
